<footer class="maytrix-footer">
    <div style="background-color: #000;" class="container-fluid pb-0 mb-0 justify-content-center text-light">
        <footer>
            <div class="row  justify-content-center py-5">
                <div class="col-11">
                    <div class="row">
                        <div class="col-lg-4 col-12 mx-auto">

                            <a class="navbar-brand" href="/">
                                <img class="mb-5 mt-auto" width="80px" src="/images/small-logo.png" alt="" />
                                <img class="ml-md-2 mb-5 img-fluid" width="250px" src="/images/logo-text.png"
                                    alt="cafe-logo" /></a>
                        </div>



                        <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                            <h6 class="mb-3 mb-lg-4 bold-text "><b>Our Team</b></h6>
                            <ul class="list-unstyled">
                                <li>
                                    <p><span class="text-color">Team Name:&nbsp;  BugCreaters (with an "e")
                                    </p>
                                </li>
                                <li>
                                    <p><span class="text-color">Team Member 1:&nbsp;  Aditya Naitan
                                    </p>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-2 col-md-4 col-sm-4 col-12 pt-5 pt-lg-0">
                            <h6 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h6>
                            <ul class="list-unstyled">
                                <a href="/"><li>Home</li></a>
                                <a href="/add-invoice"><li>Add Invoice</li></a>
                                <a href="/about"><li>About</li></a>
                                <a href="/contact"><li>Contact</li></a>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-12">
                            <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>ADDRESS</b></h6>
                            <p class="mb-1">605, RATAN ICON BUILDING</p>
                            <p>SEAWOODS SECTOR</p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                            <p class="social text-muted mb-0 pb-0 bold-text"> <span class="mx-2"><i
                                        class="fa fa-facebook" aria-hidden="true"></i></span> <span class="mx-2"><i
                                        class="fa fa-linkedin-square" aria-hidden="true"></i></span> <span
                                    class="mx-2"><i class="fa fa-twitter" aria-hidden="true"></i></span> <span
                                    class="mx-2"><i class="fa fa-instagram" aria-hidden="true"></i></span> </p><small
                                class="rights"><span>&#174;</span> Budgettastic All Rights Reserved.</small>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                            <h6 class="mt-55 mt-2 text-muted bold-text"><b>ADITYA NAITAN</b></h6><small> <span><i
                                        class="fa fa-envelope" aria-hidden="true"></i></span> aditya@gmail.com</small>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>

</body>

</html>